@font-face {
  font-family: movie-header;
  src: url(./KungFuMaster-K7vrX.otf);
}
@font-face {
  font-family: art-deco;
  src: url(./Showtime-R9Ke.ttf);
}

img {
  margin: 10px 0;
}
body {
  background: url("./nahuel-maretich-EeCQy8ZOmO0-unsplash.jpg");
  background-size: cover;
}
.background {
  background-color: rgba(254, 254, 254, 0.9);
}
.font {
  font-family: art-deco;
}
.movie-header {
  font-family: movie-header;
  font-size: 30px;
  color: white;
}
.movie-search-header {
  font-family: movie-header;
  font-size: 30px;
  color: white;
}
.headings {
  font-family: art-deco;
  font-size: 25px;
  color: rgb(176, 1, 1);
  padding: 5px;
}
.border {
  border: 5px solid rgb(145, 0, 0);
}

.object-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(145, 0, 0);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 20px;
  font-family: movie-header;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 645px) {
  .movie-search-header {
    font-size: 0px;
  }
}
