@font-face {
  font-family: movie-header;
  src: url(./KungFuMaster-K7vrX.otf);
}
@font-face {
  font-family: art-deco;
  src: url(./Showtime-R9Ke.ttf);
}

img {
  margin: 10px 0;
}
body {
  background: url("./nahuel-maretich-EeCQy8ZOmO0-unsplash.jpg");
  background-size: cover;
}
.background {
  background-color: rgba(254, 254, 254, 0.9);
}
.font {
  font-family: art-deco;
}
.movie-header {
  font-family: movie-header;
  font-size: 30px;
  color: white;
}
.headings {
  font-family: art-deco;
  font-size: 25px;
  color: rgb(176, 1, 1);
  padding: 5px;
}
.border {
  border: 5px solid rgb(145, 0, 0);
}

.object-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}


@media screen and (max-width: 645px) {
  .movie-header {
    font-size: 0px;
  }
}